
  <h2> The coaches answers </h2>
  <div class="white-background">
    <p>
      <%= @question %>
    </p>
    <p>
    <em> - You <em>
    </p>
  </div>

  <div class="yellow-background">
  <p>
    <%= @answer %>
  </p>
  <p>
  <em> - - The Coach <em>
  </p>
  </div>


  <a href="/ask"> Ask a new question </a>
